:root {
	--gray:rgba(0,0,0,.125);
}
.a {
	cursor: pointer;
	color: #337ab7;
	border-bottom:1px dashed #337ab7;
	text-decoration: none;
}
.a:hover, .a:focus {
	text-decoration: none;	
}
.catfilters .space {
	margin-bottom:20px;
}
table {
	font-size:inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	margin-left:5px;
}
.cart .catgrouplist .title {
	padding-left: 5px;
	padding-right: 3px; 
	text-align: left;
}
.shadow-over {
	transition-duration: 0.3s
}

.noUi-connect {
    /*background-color: #17a2b8!important;
    background-color: #fe5a00!important;*/
    background-color: white!important;
}
html:not([dir=rtl]) .noUi-horizontal .noUi-handle-lower {
    right: -32px!important;
}
html:not([dir=rtl]) .noUi-horizontal .noUi-handle-upper {
    right: -2px!important;
}